html, body {
    height: 100%;
    width: 100%;
    scrollbar-width: none;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
a{
    text-decoration: none;
    color: #cc9610;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
#text{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
h1{
    text-align: center;
    font-size: 2.5em;
}
.sticky{
    top: 0;
    position: sticky;
    padding-top:0;
    margin-top:0;
    border-top:none;
}
nav{
    padding-top: 0;
    background-color: #004e5a;
    width: 99%;
    position:sticky;
    opacity: 0.95;
}
nav > p{
    background-color: #004e5a;
    text-align: right;
    font-size: 1.5rem;
    padding: 1rem;
    color: #cc9610;
    width: 99%;
    position:sticky;
    margin-top:0;
    border-top:none;
}
p > a{
    border-left: 2px solid #cc9610;
    border-collapse: collapse;
    padding: 1rem;
}
a:hover{
    color: #ffbf29;
}
p{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}